
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Miasto</th>
            <th>Ulica</th>
            <th>Numer domu</th>
            <th>Kod Pocztowy</th>
            <th>Klient</th>
            <th>Kosztorys</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for adre in adres %}
        <tr>
            <td>{{ adre.id }}</td>
            <td>{{ adre.city }}</td>
            <td>{{ adre.street }}</td>
            <td>{{ adre.housingNumber }}</td>
            <td>{{ adre.postal }}</td>
            <td>{{ adre.client }}</td>
            <td>{{ adre.estimate }}</td>
            <td>
                <span class="right">
                    <a href="{{ path('adres_show', {'id': adre.id}) }}" class="details">Szczegóły</a>
                    <button onclick="openModal('adres_edit{{ adre.id }}')">Edytuj</button>
                </span>
            </td>
        </tr>
        {{ include('_modal_form.html.twig', {modal_id: ['adres_edit', adre.id]|join, modal_title: 'Edytuj adres',
         form_button: 'Edytuj', action_path: path('adres_edit', {'id': adre.id }),
        'form': adre.form}) }}
    {% else %}
        <tr>
            <td colspan="6">Brak danych</td>
        </tr>
    {% endfor %}
    </tbody>
</table>