{% extends 'base_logged.html.twig' %}

{% block title %}Adres{% endblock %}

{% block main %}
    <h1>Adres</h1>
    <button onclick="openModal('add')">Edytuj adres</button>
    {{ include('_modal_form.html.twig', {modal_id: 'add', modal_title: 'Edytuj adres',
     form_path: '_form.html.twig', form_button: 'Edytuj', action_path: path('adres_edit', {'id': adre.id }) }) }}
    {{ include('adres/_delete_form.html.twig') }}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adre.id }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ adre.city }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ adre.street }}</td>
            </tr>
            <tr>
                <th>HousingNumber</th>
                <td>{{ adre.housingNumber }}</td>
            </tr>
            <tr>
                <th>Postal</th>
                <td>{{ adre.postal }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
