<div class="form">
{{ form_start(form) }}
    {{ form_widget(form) }}
    {# <button>{{ button_label|default('Zapisz') }}</button> #}
    {# <a href="{{ path('client', {'id': client.id}) }}" type="button"
    class="add"
    data-toggle="tooltip" title="Dodaj klienta">Zapisz</a> #}
    <input formaction="{{ action_path }}" type="submit"
    value="{{ value|default('Zapisz') }}">
{{ form_end(form) }}
</div>
