{% extends 'base_logged.html.twig' %}

{% block title %}Spis klientów{% endblock %}

{% block main %}
    <h1>Spis klientów</h1>
    <button onclick="openModal('add')">Dodaj nowego klienta</button>
    <div class="modal" id="add">
        <div class="modal-content">
        <h1>Dodaj nowego klienta</h1>
        <span class="close" onclick="closeModal('add')">&times;</span>
        {{ include('client/_form.html.twig', {'value': 'Dodaj'}) }}
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.surname }}</td>
                <td>
                <span class="right">
                <a href="{{ path('client_show', {'id': client.id}) }}" class="details">Szczegóły</a>
                <button onclick="openModal('edit')">Edytuj</button>
                <span>
                </td>
            </tr>
                <div class="modal" id="edit">
                    <div class="modal-content">
                    <h1>Edytuj klienta</h1>
                    <span class="close" onclick="closeModal('edit')">&times;</span>
                    {{ include('client/_form.html.twig', {'value': 'Edit',  'execute_path' : path('client_edit', {'id': client.id})}) }}
                    </div>
                </div>
        {% else %}
            <tr>
                <td colspan="4">Brak danych</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
