{% extends 'base_logged.html.twig' %}

{% block title %}Dane klienta{% endblock %}

{% block main %}
    <h1>{{ client.id }} Klient {{ client.name }} {{ client.surname }}</h1>
    <button onclick="openModal('edit{{ client.id }}')">Edytuj</button>
    {{ include('_modal_form.html.twig', {modal_id: ['edit', client.id]|join, modal_title: 'Edytuj klienta'
    , form_button: 'Edytuj', action_path: path('client_edit', {'id': client.id }), 'form': form}) }}

    <button onclick="openModal('delete{{ client.id }}')">Usuń</button>
    {{ include('_modal_delete_form.html.twig', {modal_id: ['delete', client.id]|join, 
     action_path: path('client_delete', {'id': client.id }), item_id: client.id, item_name: client}) }}

    <h1>Adresy</h1>
    {{ include('adres/_table.html.twig') }}

    <h1>Kosztorysy</h1>
    {{ include('estimate/_table.html.twig') }}




{% endblock %}
