  {# in order to use must add button ex:
  <button onclick="openModal('modal_id')">button name</button> 
  #}
<div class="modal" id="{{ modal_id }}">
    <div class="modal-content">
    <h1>{{ modal_title }}</h1>
    <span class="close" onclick="closeModal('{{ modal_id }}')">&times;</span>
    <div class="form">
      {{ form_start(form) }}
          {{ form_widget(form) }}
          <input formaction="{{ action_path }}" type="submit"
          value="{{ value|default('Zapisz') }}">
      {{ form_end(form) }}
    </div>
    </div>
</div>