{% extends 'base_logged.html.twig' %}

{% block title %}Kosztorys{% endblock %}

{% block main %}
    <h1>Kosztorys {{ estimate.name }}</h1>

    <a href="{{ path('estimate_edit', {'id': estimate.id}) }}" class="edit">Edytuj</a>
    {{ include('estimate/_delete_form.html.twig') }}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ estimate.id }}</td>
            </tr>
            <tr>
                <th>Klient</th>
                <td>{{ estimate.client }}</td>
            </tr>
            <tr>
                <th>Adres</th>
                <td>{{ estimate.adres }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ estimate.description }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
